mat-card {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
}

@media (min-width: 600px) {
  mat-card {
    max-width: 60%;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.author-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
}

textarea.mat-input-element {
  width: 100%;
}
