<mat-card>
  <form [formGroup]="citationForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Citation :</mat-label>
      <textarea matInput formControlName="text" required placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <div class="author-group">
      <mat-form-field appearance="outline">
        <mat-label>Auteur :</mat-label>
        <mat-select formControlName="author" placeholder="Select an author">
          <mat-option *ngFor="let author of authors" [value]="author">{{ author.first_name }} {{ author.last_name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="router.navigate(['/authors/add'])">
        <mat-icon color="primary">add</mat-icon>
      </button>
    </div>

    <mat-checkbox formControlName="verified">Verified</mat-checkbox>
    <div class="button-group">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-button type="button" (click)="router.navigate(['/citations'])">Cancel</button>
    </div>
  </form>
</mat-card>
