.toolbar-container {
  width: 100%;
}

.toolbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Add margin to ensure cards are below the toolbar */
}

.toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.toolbar-title {
  font-size: 20px;
  font-weight: bold;
}

.spacer {
  flex: 1;
}

.search-field {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 4px;
}

button {
  margin-right: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.list-container {
  padding-top: 20px; /* Add padding to ensure proper spacing */
}
