<div class="toolbar-container">
  <mat-toolbar color="primary" class="toolbar">
    <div class="toolbar-row">
      <span class="toolbar-title">Liste des Citations :</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" routerLink="/citations/add">Ajouter une citation</button>
      <button mat-raised-button color="primary" (click)="toggleSortByPopularity()">
        {{ sortByPopularity ? 'Désactiver le tri par popularité' : 'Trier par popularité' }}
      </button>
    </div>
    <div class="toolbar-row">
      <mat-form-field class="search-field">
        <input matInput placeholder="Rechercher une citation" [(ngModel)]="searchText" (input)="applySearchFilter()">
      </mat-form-field>
    </div>
  </mat-toolbar>
</div>

<div class="list-container">
  <div *ngFor="let citation of filteredCitations" class="card-container">
    <app-citation-card
      [citation]="citation"
      (like)="likeCitation($event)"
      (dislike)="dislikeCitation($event)"
      (edit)="editCitation($event)"
      (delete)="deleteCitation($event)">
    </app-citation-card>
  </div>
</div>
