<mat-card>
  <h2>Author Add</h2>
  <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>First Name:</mat-label>
      <input matInput formControlName="first_name" placeholder="First Name" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name:</mat-label>
      <input matInput formControlName="last_name" placeholder="Last Name" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Age:</mat-label>
      <input matInput type="number" formControlName="age" placeholder="Age" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nationality:</mat-label>
      <input matInput formControlName="nationality" placeholder="Nationality" required>
    </mat-form-field>
    <div class="button-group">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</mat-card>
