mat-card {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
}

@media (min-width: 600px) {
  mat-card {
    max-width: 60%;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
