.mat-expansion-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-title {
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.panel-description {
  width: 20%;
  align-items: center;
  justify-content: flex-end;
}

.separator {
  margin: 0 10px;
  border-left: 1px solid #ccc;
  height: 20px;
}

.verified-icon {
  margin-left: 5px;
}

.likes {
  margin-right: 10px;
}
