<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panel-title">
      {{ citation.text }}
    </mat-panel-title>
    <mat-panel-description class="panel-description">
      <span class="likes">{{ citation.likes }} likes</span>
      <span class="likes">{{ citation.dislikes }} dislikes</span>
      <span class="separator"></span>
      <mat-label>Vérifié :</mat-label>
      <mat-icon *ngIf="citation.verified" class="verified-icon">check_circle</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div>
    <p><strong>Auteur:</strong> {{ citation.author.first_name }} {{ citation.author.last_name }}</p>
    <mat-card-actions>
      <button mat-icon-button (click)="likeCitation()">
        <mat-icon color="primary">thumb_up</mat-icon>
      </button>
      <button mat-icon-button (click)="dislikeCitation()">
        <mat-icon color="warn">thumb_down</mat-icon>
      </button>
      <button mat-icon-button (click)="editCitation()">
        <mat-icon color="accent">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteCitation()">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </mat-card-actions>
  </div>
</mat-expansion-panel>
