<div class="container">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>format_quote</mat-icon>
        Quote-Tier
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Bienvenue sur votre application de gestion de citations. Vous pouvez ajouter, modifier, et consulter des citations, ainsi que liker ou disliker vos citations préférées.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="/citations/add">Ajouter une citation</button>
      <button mat-raised-button color="primary" routerLink="/citations">Voir les citations</button>
    </mat-card-actions>
  </mat-card>
</div>
