.container {
  display: flex;
  justify-content: center;
  align-items: normal;
  height: 100vh;
}

.welcome-card {
  max-width: 90%;
  max-height: 30%;
  margin: 20px auto;
  padding: 20px;
}

@media (min-width: 600px) {
  .welcome-card {
    max-width: 60%;
    max-height: 34%;
  }
}
