<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <button mat-button class="title-app" routerLink="/">Quote-Tier</button>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
